body{
    background-color: yellow;
}
.head{
    text-align: center;
    color: aliceblue;
    margin-left: 30%;
    margin-right: 10%;

}

.menu{

    width:35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.bar{
    margin-top: 1% ;
}
.icon-bar{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a{
    float: left;
    text-align: center;
    width: 10%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover{
    background-color: #000;
}
.active{
    background-color: #04AA6D;
}
@media screen  and (max-width:600px) {
       .icon-bar a{
            width: 100%;
        }
}